/*
** reset
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
