/*
** breakpoint
*/

@mixin breakpoint($device-size) {
    $breakpoints: (
        sm: 37.5rem,
        md: 64rem,
        lg: 80rem,
        xl: 120rem
    );
    
    $breakpoint: map-get($breakpoints, $device-size);

    @media(min-width: $breakpoint) {
        @content;
    }
}
